body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3D3D3D; 
    color: #D3D3D3; 
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
h1, h2, h3 {
    margin-top: 0%;
    color: #FFFFFF; 
    text-align: center;
}
p {
    line-height: 1.6;
    color: #D3D3D3;
    text-align: center;
}
.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.team-member {
    background: #3A3A3A; 
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 50%;
    max-width: 300px;
    text-align: center;
}
.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.team-member h3 {
    margin: 10px 0 5px;
    color: #FFFFFF; 
}
.team-member p {
    font-size: 0.9em;
    color: #CCCCCC; 
}
.about_video {
    display: flex;
    justify-content: center;
    align-items: center;    
    margin: 20px 0;      
}
video {
    border: 2px solid #FFFFFF;
    border-radius: 8px;
}
@media (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }
    .team-member {
        width: 45%;
    }
}
@media (min-width: 1024px) {
    h1 {
        font-size: 4rem;
    }
    .team-member {
        width: 30%;
    }
}