.custom-navbar {
    width: 100%; 
    height: 40px;
    background: #df910b;
    position: sticky;
    top: 0px;
    z-index: 1;
    padding: 0;
    margin: 0 0;
    text-align: center;
}

.nav-container {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}

.nav-menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.nav-menu li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
    padding: 5px 10px;
}

.nav-menu li a:hover {
    color: #ffffff;
}

.logo {
    margin: 0px 25px;
    width: 80px;
    height: 80px;
    display: inline;
}

footer {
    background-color: #2E2E2E; 
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

@media screen and (max-width: 768px) {
    .custom-navbar {
        width: 95%; /* סרגל רחב יותר במסכים קטנים */
        height: 200%;
    }

    .nav-menu {
        gap: 15px; /* הקטנת המרווחים */
        flex-direction: row; /* תצוגה אופקית */
    }

    .nav-menu li {
        display: flex;
        flex-wrap: wrap;
    }

    .logo {
        width: 60px; /* הקטנת לוגו */
        height: 60px;
        top: 48px;
    }
}

@media screen and (max-width: 480px) {
    .custom-navbar {
        width: 100%; /* שימוש מלא ברוחב המסך */
        height: 200%;
        border-radius: 5px;
    }

    .nav-menu {
        flex-direction: row; /* תצוגה אופקית */
        gap: 10px;
    }

    .logo {
        width: 50px; /* לוגו קטן יותר */
        height: 50px;
        top: 3px;
    }
}

@media screen and (max-width: 320px) {
    .nav-menu li a {
        padding: 5px 5px; /* כפתורים קטנים יותר */
    }

    .logo {
        width: 40px; /* לוגו קטן יותר */
        height: 40px;
    }
    
}
